.inputSinger{

    background-color: goldenrod;
    display: wrap ;
    justify-content: center ;
    width: 30%;
    margin-left: 30%;
    margin-top: 80px;
    border-radius: 20px;
      
    
}

input {

    width: 30%;
    margin: 30px; 
}

p, h3{
   
    color: rgb(236, 18, 18); 
    font-size: larger;

  
}